:root {
    --bg-main: #01b8c8;
    --bg-primary: #fff;
    --bg-primary-bis: #eee;
    --bg-secondary: #eeeeee;
    --bg-not-quite-white: #eee;
    --platypus-blue: #01b8c8;
    --platypus-blue-font-color: #fff;
    --platypus-blue-font-hover: #add8e6;
    --page-max-width: 1000px;
    --section-spacing: 120px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    width: 100%;
}
