.section {
    display: flex;
    justify-content: center;
    padding-bottom: var(--section-spacing);
    padding-top: var(--section-spacing);
}

/* Even sections */
.section:nth-of-type(even) {
    background-color: var(--bg-primary);
}

/* Odd sections */
.section:nth-of-type(odd) {
    background-color: var(--bg-primary-bis);
}

/* First section (main) */
.section:first-child {
    background-color: var(--platypus-blue);
    color: var(--platypus-blue-font-color);
}

/* Links on first section */
.section:first-child a {
    color: inherit;
}

.section:first-child a:hover {
    color: var(--platypus-blue-font-hover);
}

/* Section content */
.section .content {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: var(--page-max-width);
    width: 100%;
}

/* Section content titles */
.section .content h2.title {
    font-size: 4rem;
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: 2rem;
    margin-top: 0;
}
