:root {
    --xmas-green: #002b0f;
    --light-gray: #eeeeee;
    --platypus-blue: #01b8c8;
    --dark-platypus-blue: #006b77;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--xmas-green);
    min-height: 100vh;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.main-section {
    align-items: center;
    display: grid;
    min-height: 100vh;
    justify-content: center;
}

.profile-card {
    background: white;
    box-shadow: -5px -5px var(--dark-platypus-blue);
    display: grid;
    height: fit-content;
    justify-items: center;
    margin: 10px;
    padding: 10px;
    padding-bottom: 0;
    z-index: 1;
}

.profile-card hr {
    width: 100%;
    margin-bottom: 0;
    margin-top: 5px;
}

.profile-card .profile-picture {
    background: var(--platypus-blue);
    border-radius: 100px;
    max-height: 150px;
    max-width: 150px;
    padding: 10px;
}

.profile-card .name {
    font-size: 50px;
    /*font-weight: bold;*/
    margin-bottom: 0;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.profile-card .socials {
    /*column-gap: 15px;*/
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    /*grid-template-columns: auto auto;
    margin-bottom: 10px;
    margin-top: 10px;*/
    width: 100%;
}

.profile-card .socials .social-detail {
    border-bottom: 2px solid transparent;
    color: black;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

.profile-card .socials .social-detail:hover {
    border-bottom: 2px solid var(--dark-platypus-blue);
    cursor: pointer;
    margin-bottom: 0;
}

.profile-card .socials .social-icon {
    vertical-align: middle;
    font-size: 30px;
}


#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
}
