@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('./profile.css');
@import url('./root.css');
@import url('./sections.css');

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
}
